/* 
Author:Shanna Graves
        Date: 10/26/2023
        Assignment: My Schedule
*/

body {
    background-image: url("OTCEagles.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    background-position: center;
    background-size: contain;
}