/* 
Author:Shanna Graves
        Date: 10/26/2023
        Assignment: My Schedule
*/
@font-face {
    font-family: Bebas Nue;
    src: url(BebasNeue-Regular.ttf);
}
body {
    background-color: #113266;
}

table {
    margin: auto;
    margin-top: 200px;
    background-color: white;
    border: solid 10px #297bff;
    width: 80%;
    max-width: 1200px;
    font-family: Bebas Nue;
}

tr,
td,
th {

    padding: 10px;
    text-align: center;
    border: solid 2px black;
}

th.heading {
    background-color: white;
    font-size: 2em;
}

th {
    background-color: black;
    color: #297bff;
    font-size: 1.8em;
    
    
}
td{
    font-size: 1.5em;
}

td:nth-child(even) {
    background-color: #e6e94081;

}

td:nth-child(odd) {
    background-color: #1132667c;

}